<?xml version="1.0" encoding="UTF-8"?>
 <caps>
    <!-- server information -->
    <server version="1.0" title="site" strapline="..."
     email="info@site.com" url="http://tv.dom.netx:6969/" image="http://servername.com/theme/black/images/banner.jpg"/>

    <limits max="100" default="50"/>

    <registration available="yes" open="yes" />

    <searching>
       <search available="yes" supportedParams="q" />
       <tv-search available="yes" supportedParams="q,season,ep" />
    </searching>

    <!-- supported categories -->
    <categories>
       <category id="5000" name="TV">
          <subcat id="5030" name="TVShow"/>
          <subcat id="5040" name="TVCostam"/>
       </category>
    </categories>
 </caps>
</xml>